In [1]:
import igraph as ig
import pandas as pd
import numpy as np

In [2]:
g = ig.Graph.Read_GML('football.gml')
ct = g.community_edge_betweenness(clusters=12, directed=False, weights=None)
edge_df = pd.DataFrame(data=g.get_edge_dataframe())
vertex_df = pd.DataFrame(data=g.get_vertex_dataframe())

C:\Users\dinhg\AppData\Local\Temp\ipykernel_16808\819255535.py:1: RuntimeWarning: Unterminated entity or stray & character found, will be returned verbatim. at src/io/gml.c:147
  g = ig.Graph.Read_GML('football.gml')

In [3]:
edge_df.head()

         source  target
edge ID
0             0       1
1             2       3
2             0       4
3             4       5
4             3       5

In [4]:
vertex_df.head()

            id         label  value
vertex ID
0          0.0  BrighamYoung    7.0
1          1.0  FloridaState    0.0
2          2.0          Iowa    2.0
3          3.0   KansasState    3.0
4          4.0     NewMexico    7.0

# Transform graph to square matrix dataframe
#### value in each cell of data frame is value of row node  * 100 + value of col node
#### => có thể truy ngược được community of row node and col node by  % 100
#### edge hasn't existed have cell value = -1, have edge node value = 0

In [5]:
graph_matrix_np = np.full((115, 115), -1)
for idx in edge_df.index:
    source_node = edge_df['source'][idx]
    target_node = edge_df['target'][idx]
    source_node_value = vertex_df['value'][source_node]
    target_node_value = vertex_df['value'][target_node]
    graph_matrix_np[source_node][target_node] = source_node_value*100 + target_node_value
    graph_matrix_np[target_node][source_node] = source_node_value * 100 + target_node_value

graph_matrix_df = pd.DataFrame(data=graph_matrix_np, columns=vertex_df['label'], index=vertex_df.index)

In [6]:
graph_matrix_df.head()

label,BrighamYoung,FloridaState,Iowa,KansasState,NewMexico,TexasTech,PennState,SouthernCalifornia,ArizonaState,SanDiegoState,...,WakeForest,Indiana,OklahomaState,OregonState,Maryland,TexasChristian,California,AlabamaBirmingham,Arkansas,Hawaii
vertex ID,,,,,,,,,,,,,,,,,,,,,
0,-1,700,-1,-1,707,-1,-1,-1,-1,707,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
1,700,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,0,-1,-1,-1,0,-1,-1,-1,-1,-1
2,-1,-1,-1,203,-1,-1,202,-1,-1,-1,...,-1,202,-1,-1,-1,-1,-1,-1,-1,-1
3,-1,-1,203,-1,-1,303,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,707,-1,-1,-1,-1,703,-1,-1,-1,707,...,-1,-1,-1,708,-1,-1,-1,-1,-1,-1